@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');


body {
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

/*Start Home Bar*/
.home-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.logo-home {
    padding: 0 0 0 115px;
}

.home-button {
    background: #003153;
    width: 213px;
    height: 72px;
    border-radius: 20px;
    margin: 0 115px 0 0;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    color: #ffffff;
    cursor: pointer;
}

button:hover {
    background: #005FA3;
    transform: 15s;
}

.home-link {
    margin: 0 0 0 130px;
}

.home-link a:hover {
    color: #005FA3;
    font-weight: bold;
}

.home-list {
    display: inline-block;
    margin-left: 30px;
    color: #003153;
    font-weight: 500;
    font-size: 12px;
}

/*Finish Home Bar*/

/* Start bg1 */

.bg1-img {
    position: relative;
    color: #FFFFFF;
}

.bg1-img p {
    color: #FFFFFF;
}

.bg1-img {
    width: 100%;
}

.text-bg1 {
    font-size: 40.5px;
    font-weight: 400;
    line-height: 25px;
    position: absolute;
    top: 134.5px;
    left: 125px;
}

.text-bg1-bold {
    font-weight: bold;
}

.beneficios-bg1 {
    display: flex;
    position: absolute;
    top: 333.5px;
    left: 85px;
}

.beneficios-bg1--text {
    font-size: 18px;
    font-weight: 400;
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.beneficios-bg1--text img {
    margin-right: 10px;
}

.bg1-show-more {
    font-size: 27px;
    font-weight: 700;
    position: absolute;
    top: 420.5px;
    left: 135px;
}

.button-bg1 {
    position: absolute;
    top: 490px;
    left: 120px;
    margin: 490 0 0 121;
}

.bg1-button--cotacao {
    background: #003153;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    width: 295px;
    height: 85px;
    font-size: 27px;
    font-weight: 700;
    cursor: pointer;
}

/*End Bg1*/

/* Start Bg2*/

.icons-bg2 {
    margin: 234px auto;
}

.icons-bg2 ul {
    display: flex;
    justify-content: center;
}

.icons-bg2 ul h1 {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;

}

.icons-bg2 ul p {
    margin-top: 30px;
}

.icons-bg2 ul h1,
p {
    margin: 8px;
    color: #003153;
    text-align: left;
}


.perfil2-bg2 {
    margin-left: 101px;
}

.perfil3-bg2 {
    margin: 0 101px 0;
}

/*Start Bg3*/

.bg3 {
    display: flex;
}

.box-bg3 {
    display: flex;
}

.bg3-titulo {
    text-align: center;
    color: #003153;
    font-weight: 700;
    font-size: 27px;
    line-height: 33px;
}

.box1-bg3 {
    margin: 50px 0 0 24px;
    font-weight: 400;
    font-size: 18px;
}

.bg3-text--icon {
    margin: 30px 0;
}

.bg3-text--icon img {
    margin-left: 15px;
}

.box2-bg3 {
    margin: 220px 0 0 30px;
}

.bg3-text--icon {
    display: flex;
}

/* Start Bg4 */

.bg4 {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    color: #003153;

}

.bg4-text h1 {
    font-weight: 700;
    font-size: 40.5px;
    line-height: 49px;
    text-align: left;
}

.bg4-text h2 {
    font-weight: 600;
    font-size: 27px;
    line-height: 33px;
    text-align: left;
}

.bg4-p1 {
    margin-top: 40px;

}

.bg4-text p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}


.bg4-p2 {
    margin-top: 20px;
}

.bg4-map {
    margin-left: 100px;
}

/*Finish Bg4*/

/*Start Bg5*/

.bg5-assist {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 75%;
    border: 5px solid #003153;
    border-radius: 10px;
    align-items: center;
    padding: 30px;

}

.bg5-assist--text h1 {
    color: #003153;
    font-weight: 700;
    font-size: 60.75px;
    line-height: 74px;
}

.bg5-assist--text h2 {
    color: #003153;
    font-weight: 700;
    font-size: 40.5px;
    line-height: 49px;
    margin-top: 20px;
}

.bg5-button {
    background: #003153;
    width: 222px;
    height: 72px;
    border-radius: 20px;
    margin-left: 105px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    color: #ffffff;
    cursor: pointer;
}

.bg5-job {
    display: flex;
    justify-content: center;
    margin-top: 102px;
}

.bg5-job--text h1 {
    color: #003153;
    font-weight: 700;
    font-size: 40.5px;
    line-height: 49px;
}

.bg5-job--text h2 {
    color: #003153;
    margin-top: 5px;
    font-weight: 700;
    font-size: 27px;
    line-height: 33px;
}

.bg5-job--text p {
    color: #003153;
    margin-top: 15px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.bg5-button--job {
    background: #003153;
    width: 157px;
    height: 72px;
    border-radius: 20px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
    margin-top: 45px;
}

.bg5-person {
    margin-left: 100px;
}